name: CI

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  FORCE_COLOR: 1

jobs:
  tests:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v5
      - uses: folke/github/neovim@main
      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y libreadline-dev

      - name: Test Cache
        uses: actions/cache@v4
        with:
          path: .tests
          key: ${{ runner.os }}-tests-${{ hashFiles('tests/minit.lua') }}

      - name: Run Tests
        run: tests/minit.lua tests -v
